<template name="addEvent">
  <div>
    <form>

      <div class="form-group">
        <label for="eventNameInput">Event Name</label>
        <input type="text" class="form-control" name="eventName" id="eventNameInput" placeholder="Event Name" required>
      </div>

      <div class="form-group">
        <label for="EventDescriptionInput">Event Description</label>
        <input type="text" class="form-control" name="eventDescription" id="EventDescriptionInput" placeholder="Description for your new event" required>
      </div>

      <div class="form-group">
        <label for="EventTimeInput">Event Time (EST)</label>
        <input type="time" class="form-control" name="eventTime" id="EventTimeInput" required>
      </div>

      <div class="radio-inline">
        <label>
        <input type="radio" name="eventVisibility" id="visibilityRadios1" value="public" checked>
          Public
        </label>
      </div>
      <div class="radio-inline">
        <label>
          <input type="radio" name="eventVisibility" id="visibilityRadios2" value="private">
          Private
        </label>
      </div>

      {{> addEventMap}}
      
      <br>
      <button type="submit" class="btn btn-default">Create Event</button>


      <!-- Description: -->
      <!-- <input type="text" name="eventDescription" placeholder="Type to add new tasks" /> -->
      <br>
      <!-- Time: -->
      <!-- <input type="time" name="eventTime"> -->
      <br>
      <!-- <input type="submit"> -->
    </form>
  </div>
</template>