<template name="eventsPage">
    <div class="jumbotron" id="nearby">
        
    <div class="container">
        <div class="row row-centered" id="myEvents">
            {{#if myfirstevent.[0]}}
            {{#with myfirstevent.[0]}}
            <div class="col-sm-offset-{{offset}} col-sm-4 col-centered">
                {{> eventItem}}
            </div>
            {{/with}}
            {{#each mylastevents}}
            <div class="col-sm-4 col-centered">
                {{> eventItem}}
            </div>
            {{/each}}
             {{else}}
            <span id="noEvents"><h1>You have no events. Go join one!</h1></span>
            {{/if}}
        </div>
    </div>
        </div>
    <h1 id="currentEvents">Near You</h1>
    {{> search}}
</template>