<template name="search">
    <div class="row">
        <div class="col-xs-6" style="text-align: center;">
            <div>
                <span>Search fields:</span>
                <label class="checkbox-inline">
                    <input type="checkbox" name="hostFilter" id="hostFilter" value="" checked>Host</label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="eventNameFilter" id="eventNameFilter" value="" checked>Event name</label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="descriptionFilter" id="descriptionFilter" value="" checked>Description</label>
            </div>
            <div class="input-group form" style="display: inline-block;">
                <input type="text" class="form-control" name="searchTerm" id="searchTerm" placeholder="search events here" />
            </div>
        </div>
        <div class="col-xs-6" style="text-align: center;">
            <div>
                <span>Sort by:</span>
                <label class="radio-inline">
                    <input type="radio" name="sortRadio" id="hostRadio" value="">Host</label>
                <label class="radio-inline">
                    <input type="radio" name="sortRadio" id="eventNameRadio" value="">Event name</label>
                <label class="radio-inline">
                    <input type="radio" name="sortRadio" id="capacityRadio" value="">Size</label>
                <label class="radio-inline">
                    <input type="radio" name="sortRadio" id="timeUntilRadio" value="" checked="checked">Time left</label>
                <label class="radio-inline">
                    <input type="radio" name="sortRadio" id="distanceRadio" value="">Distance</label>
            </div>
            <div>
                <span>Direction:</span>
                <label class="radio-inline">
                    <input type="radio" name="directionFilter" id="ascendingFilter" value="" checked="checked">Ascending</label>
                <label class="radio-inline">
                    <input type="radio" name="directionFilter" id="descendingFilter" value="">Descending</label>
            </div>
            <div>
                <label class="radio-inline">
                    <input type="radio" name="privacyFilter" id="publicFilter" value="" checked="checked">Public</label>
                <label class="radio-inline">
                    <input type="radio" name="privacyFilter" id="privateFilter" value="">Private</label>
            </div>
        </div>

    </div>
    <div class="container" id="results">
            <div class="list-group" id="resultsList">
                {{#each results}}
                    {{> listEventItem}}
                {{/each}}
            </div>
        </div>

    {{#if noResults}}
    <div class="no-results col-xs-12">No results found!</div>
    {{/if}}
</template>