/* Whole App */

body {
    background: rgba(255, 255, 255, 0.9);
    color: #666666;
}

#spawnLogo {
  margin-left: 10px;
}

#spawnLogo,
#spawnPlus {
    /*margin-top: 7px;*/
}

.customFBLog {
  padding: 3px 10px 3px 10px;
  margin-right: 14px;
  margin-left: 8px;
}

#loginSection {
    margin-top: 10px;
    margin-bottom: 10px;
}

#ownProfGlyph {
    margin-right: 5px;
}


/* User Profile Page */

#profilePageName {
    margin-top: 45px;
}


/* Main Page */

.jumbotron {
    background: #666666;
    margin-left: -100px;
    margin-right: -100px;
    color: black;
}

#currentEvents {
    text-align: center;
}

#results{
    margin-bottom: 20px;
}
/* Tile display */

#nearby h1, h2, h3, h4, h5, h6, h7{
    color: #666666;
}
.people-going{
    min-width:50px;
}

.tile-bar {
    max-height: 150px;
    min-height: 150px;
}
#noEvents h1{
    color:#ffffff;
    text-align:center;
}
#numParticipants{
    text-align: center;
    max-height: 100px;
    min-height: 100px;
    vertical-align: middle;
}

.tile-image {
    max-width: 100px;
    min-width: 100px;
    max-height: 100px;
    min-height: 100px;
}

.tile-thumbnail {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.tile-thumbnail .progress {
    margin-left:15px;
    margin-right:15px;
}

.big-button{
    width:80%;
    margin-top:10px;
}

/* List display */

.list-img{
    min-height: 50px;
    max-height: 50px;
    min-width: 50px;
    max-width: 50px;
}
#attendeeDiv{
    text-align:center;
}
.big-button-list{
    width:100%;
    text-align:center;
}

.result-padded-col{
    padding-top:10px;
}

/* Single Event Page */

#joinedImg {
    max-width: 160px;
    max-height: 160px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    /*margin-bottom: 10px;*/
}

#joinedImgBox {
    max-width: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#joinedName {
    /*margin-top: 10px;*/
    text-align: center;
    margin-bottom: 0px;
}

#eventTitle {
    text-align: center;
    margin-bottom: 20px;
}

.map-container {
    width: 800px;
    max-width: 100%;
    height: 500px;
}