<template name="landingPage">
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to Spawn</h1>
        </div>
    </div>
    <div class="container">
        <div class="row" id="currentEvents">
            <div class="col-sm-2">{{> tile}}</div>
            <div class="col-sm-2">{{> tile}}</div>
            <div class="col-sm-2">{{> tile}}</div>
            <div class="col-sm-2">{{> tile}}</div>
            <div class="col-sm-2">{{> tile}}</div>
            <div class="col-sm-2">{{> tile}}</div>
        </div>


    </div>
</template>