<template name="viewEvent">
    <div class="container-fluid">  
    <div class="row">
        <div class="col-md-3 text-left">
        </div>   
        <div class="col-md-6">
            <h1 id="eventTitle">{{name}}</h1> 
            </div>
        <div class="col-md-3 text-right">
            <h3>{{#if isHost}}<span><button type="button" id="deleteEvent" class="btn btn-default">Delete Event</button></span>{{/if}}</h3>
        </div>
    </div>
        
      <div class="row">
        <div class="col-lg-6">
          {{> displayEventMap}}
        </div>
        <div class="col-lg-6">
          <ul class="list-group">
            <li class="list-group-item"><b>Host:</b> {{host}}</li>
            <li class="list-group-item"><b>Time:</b> {{time}}</li>
            <li class="list-group-item"><b>Location:</b> {{locationName}}</li>
            <li class="list-group-item"><b>Description:</b> {{description}}</li>
            <li class="list-group-item"><b>Distance:</b> {{getDistance}} miles</li>
          </ul>
          <div class="well">
            <span style="font-size: large;">Participants: {{attendees.length}}/{{numParticipants}}</span>
             {{#if isParticipating}}
                <span><button type="button" id="leaveEvent" class="btn btn-danger" style="margin-left: 150px; font-size: large;">Leave Event</button></span>
             {{else}}
                <span><button type="button" id="joinEvent" class="btn btn-primary" style="margin-left: 150px; font-size: large;">Join Event!</button></span>
             {{/if}}
          </div>
          <div>
            <h4>Starting in:</h4>
            <h2>{{getCountdownString}}</h2>
          </div>
          <div style="text-align: left;">
            <button class="btn btn-success" style="font-size: large; margin-top: 20px; padding: 10px 10px 10px 10px;" id="directionsButton">Get Directions</button>
          </div>
        </div>
      </div>

      <h2>Participants</h2>
      <div id="fbPhotoCircles" class="row well">
        {{#each attendees}}
          {{> userThumbnail}}
        {{/each}}
      </div>

      <h2>Comments</h2>
      <div class = "row well">
          {{#each comments}}
            {{> commentItem}}
          {{/each}}
          {{> postComment}}
      </div>
    </div>
</template>