<template name="login">
    {{#if currentUser}}
    	<a href="/prof">
    		<span id="ownProfGlyph" class="glyphicon glyphicon-user" aria-hidden="true"></span>
        	<span>{{currentUser.services.facebook.name}}</span>
        	<!-- {{currentUser.services.facebook.gender}} -->
        </a>
        <button class="btn btn-default customFBLog" id="logout">Logout</button>
    {{else}}
        <button id="facebook-login" class="btn btn-default customFBLog">Login with Facebook</button>
    {{/if}}
</template>